name: lint

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

env:
  FORCE_COLOR: 3
  TERM: xterm

permissions: {}

jobs:

  lint-actions:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:

    - name: Checkout code
      uses: actions/checkout@v6

    - name: Add actionlint problem matcher
      run: echo "::add-matcher::.github/actionlint-matcher.json"

    - name: Lint workflows
      uses: docker://rhysd/actionlint:1.7.7
      with:
        args: -color

  lint-markdown:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:

    - name: Checkout code
      uses: actions/checkout@v6

    - name: Lint Markdown files
      uses: DavidAnson/markdownlint-cli2-action@v22
      with:
        config: .markdownlint.json
        globs: |
          **/*.md

    - name: Spellcheck
      uses: rojopolis/spellcheck-github-actions@v0
      with:
        config_path: .github/spellcheck.yml
